<% include ../partials/header%>
<h1>This is measurements page</h1>
<a href="/measurements/new">Add new measurement.</a>
<% measurements.forEach(function (measurement) { %>
    <div>
        <h4><%= measurement.user%></h4>
        <ul>
            <li> user          : <%= measurement.user          %></li>
            <li> date          : <%= measurement.date          %></li>
            <li> weight        : <%= measurement.weight        %></li>
        </ul>
        <a href="/measurements/<%= measurement._id %>">Show more details.</a>
    </div>
    
<% }) %>
<% include ../partials/footer%>